name: Build & Upload Artifact

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # Allow manual trigger

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install build wheel setuptools
          
      - name: Build package
        run: python -m build
        
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: driver-fatigue-alert-package
          path: dist/
          retention-days: 90
